# Everything in gopath, except src/
gopath/*
!gopath/src

# everything in src, except eternal stuff
gopath/src/*
!gopath/src/eternal-*

# things used during build
.vscode/
certbot/
nginx/nginx.conf

# silly osx
**.DS_Store
