<!DOCTYPE html>
<html>
<head>
  <title>&AElig;ternal</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
  <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' />
</head>
<body>
  <form id='add'>
    <input type='text' placeholder='Your response...' name='text'/>
    <input type='hidden' name='method' value='addNote'>
  </form>
  <div id='focus'></div>
  <hr id='beat'>
  <div id='levels'></div>
</body>
</html>
