html, div {padding: 0; margin: 0}

html {
  /* Prevent us from being able to scroll past the end of
  the page */
  overflow: hidden;
  min-height: 100%;

}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* margin: 0; */
  /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /* background-color: black; */
  /* color: white; */
  /* filter: drop-shadow(8px 8px 10px red); */
  /* filter: blur(2px); */
}

.focus {
  background-color: rgba(162, 182, 255, 0.2);
}

.link {
  background-color: rgba(255, 162, 162, 0.2);
}

.eternal-node {
  margin: 0;
  width: 360px;
  margin-left: -180px;
  transition: transform 1.5s, top 1.5s, left 1.5s;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.focus {
  top: 10%;
  left: 50%;
}

.link { top: 30%; }

.l0 { left: 25%; }
.l1 { left: 50%; }
.l2 { left: 75%; }

div#pool {
  /* Non 'static' position allows us to place children relative to this div */
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  pointer-events: none; /* allow clicks to go underneath */
}

div#pool div.eternal-node {
  pointer-events: none;
}

div#pool span {
  pointer-events: auto;
}

div#pool svg {
  pointer-events: visiblePainted;
}
