/* Prevent us from being able to scroll past the end of the page */
html {
  overflow: hidden;
}

html, body, div {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

#root {
  color: rgb(255, 52, 52);
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
  background-color: black;
}

.note {
  flex-grow: 1;
  transition-property: background-color, flex-grow;
  transition-duration: 1000ms;
}
