body {
  /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: black;
  color: white;
  /* filter: drop-shadow(8px 8px 10px red); */
  /* filter: blur(2px); */
}

#focus {
  display: flex;
  justify-content: space-around;
  min-height: 200px;
}

#links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 200px
}

.eternal-node {
  max-width: 360px;
  min-width: 100px;
  transition: transform 1.5s, top 1.5s, left 1.5s;
  text-align: center;
  top: 0;
  left: 0;
}

.focus {
  top: 10%;
  left: 50%;
}



.l0 { order: 2; }
.l1 { order: 1; }
.l2 { order: 3; }


div#pool div.eternal-node {
  pointer-events: none;
}

div#pool span {
  pointer-events: auto;
  cursor: pointer;
}

div#pool svg {
  pointer-events: visiblePainted;
  cursor: pointer;
}

.fade-in-fast {
  animation-name: fadeIn;
  animation-duration: 2s;
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(3px);
  }

  75% {
    opacity: 1;
  }

  100% {
    filter: blur(0);
  }
}
