body {
  /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: black;
  color: white;
  /* filter: drop-shadow(8px 8px 10px red); */
  /* filter: blur(2px); */
}

#focus {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 200px;
  font-size: 135%;
}

#links, #levels .level {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 200px
}

.next {
  box-shadow: 0px 0px 10px white;
  border-radius: 10px;
}

.eternal-node {
  max-width: 360px;
  min-width: 100px;
  transition: transform 1.5s, top 1.5s, left 1.5s;
  text-align: center;
}

.l0 { order: 2; }
.l1 { order: 1; }
.l2 { order: 3; }

#focus .eternal-node span, #focus .eternal-node svg {
  cursor: default;
}

.eternal-node span {
  display: inline-block; /* margin doesn't work on inline elements */
  margin: 12px;
}

#links .eternal-node span, #levels .level .eternal-node span {
  pointer-events: auto;
  cursor: pointer;
}

#links .eternal-node svg #levels .level .eternal-node svg {
  pointer-events: visiblePainted;
  cursor: pointer;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 2s;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
  transition-timing-function: ease-out;
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(3px);
  }

  75% {
    opacity: 1;
  }

  100% {
    filter: blur(0);
  }
}
